<!-- Navbar -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper primary">
      <a href="#!" class="brand-logo"><i class="fa fa-bolt bolt title-bolt"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="storms.html">Storms</a></li>
        <li><a href="communities.html">Communites</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li class="trimary" id="info"><a class="dropdown-button" href='#' data-activates='infodrop'><i class="fa fa-cog white-text"></i></a></li>
        <li class="secondary" id="signout"><a class='black-text'>Sign Out</a></li>
      </ul>
      <ul id='infodrop' class='dropdown-content primary-text trimary'><center>
        <li><a href="#!" style= 'color:white;'>TOS</a></li>
        <li class="divider"></li>
        <li><a href="#!" style= 'color:white;'>FAQ</a></li>
        <li class="divider"></li>
        <li><a href="#!" style= 'color:white;'>Contact</a></li>
      </center></ul>
    </div>
  </nav>
</div>
<!-- End Navbar -->
