<div id="feed-card-container" class="quadmary">

    <div class="card-panel white livepost">
    <span class="black-text">
      <div class="row" style="margin:0;">
        <div class="col s10">
          <h6 class="feed-post-title">Motivate yourself to do your homework by blackmailing yourself</h6>
          <p class="feed-post-subtitle">&nbsp;&nbsp;&nbsp;&nbsp;Yeah, it does exactly what you think it does</p>
        </div>
        <div class="col s2">
          <div id = "score"></div>
          <div id = "comment-number"></div>
          <span class="time" id ="time">November 5, 2016 1:38am</span>

        </div>
      </div>
    </span>
  </div>

</div>
