<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="css/master.css" />
    <link rel="stylesheet" type="text/css" href="css/communities.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>
    <title>Communities</title>
</head>

<body>
  <!-- Mobile Warning -->
   <div class="fullscreen hide-on-med-and-up center-align">
     <div class="row">
        <div class="col s12">
          <div class="card-panel red">
            <h4>Sci<span class="thin">Storm</span><i class="fa fa-bolt bolt"></i> was designed for desktop (and tablet). We suggest that you join us on those platforms.</h4><br><h6><a class="white-text" href="indexmobile.html">Continue anyway</a></h6>
          </div>
        </div>
      </div>
    </div>
    <!-- End Mobile Warning -->
    <div class="hide-on-small-only" id="content"><div id="fadefromwhite"></div>
      <!-- Navbar -->
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper primary">
            <a href="index.html" class="brand-logo"><i class="fa fa-bolt bolt title-bolt"></i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="index.html">Home</a></li>
              <li><a href="storms.html">Storms</a></li>
              <li><a href="#">Communites</a></li>
              <li><a href="profile.html">Profile</a></li>
              <li class="trimary" id="info"><a class="dropdown-button" href='#' data-activates='infodrop'><i class="fa fa-cog white-text"></i></a></li>
              <li class="secondary" id="signout"><a class='black-text'>Sign Out</a></li>
            </ul>
            <ul id='infodrop' class='dropdown-content primary-text trimary'><center>
              <li><a href="#!" style= 'color:white;'>TOS</a></li>
              <li class="divider"></li>
              <li><a href="#!" style= 'color:white;'>FAQ</a></li>
              <li class="divider"></li>
              <li><a href="#!" style= 'color:white;'>Contact</a></li>
            </center></ul>
          </div>
        </nav>
      </div>
      <!-- End Navbar -->
      <!-- Communites -->
      <div class="row">


      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/img1.jpg">
            <span class="card-title">Mechanical Engineering</span>
          </div>
          <div class="card-button">
            <a href="community.html" class="waves-effect waves-light btn custom white-text">Join</a>
          </div>
          <div class="card-content">
            <p>Good with tools and your hands? Want to learn how to build things better? Check out Mechanical Engineering!</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/img1.jpg">
            <span class="card-title">Computer Science</span>
          </div>
          <div class="card-button">
            <a href="community.html" class="waves-effect waves-light btn custom white-text">Join</a>
          </div>
          <div class="card-content">
            <p>Want to know what makes the digital world go round? Want to learn how machines learn? Join Computer Science!</p>
          </div>
        </div>
      </div>


      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/img1.jpg">
            <span class="card-title">Web Design</span>
          </div>
          <div class="card-button">
            <a href="community.html" class="waves-effect waves-light btn custom white-text">Join</a>
          </div>
          <div class="card-content">
            <p>Is graphic design your passion? Do you want to build the next big thing? Try out our web design community!</p>
          </div>
        </div>
      </div>
      </div>

      <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/img1.jpg">
            <span class="card-title">Biology</span>
          </div>
          <div class="card-button">
            <a href="community.html" class="waves-effect waves-light btn custom white-text">Join</a>
          </div>
          <div class="card-content">
            <p>Want to learn more about the science of organisms and living things? So does everyone in our Biology community!</p>
          </div>
        </div>

      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/img1.jpg">
            <span class="card-title">Calculus</span>
          </div>
          <div class="card-button">
            <a href="community.html" class="waves-effect waves-light btn custom white-text">Join</a>
          </div>
          <div class="card-content">
            <p>A fan of advanced mathematics? Want to learn more than you do in school? Come see our Calculus and Advanced Mathematics community.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/img1.jpg">
            <span class="card-title">Trigonometry</span>
          </div>
          <div class="card-button">
            <a href="community.html" class="waves-effect waves-light btn custom white-text">Join</a>
          </div>
          <div class="card-content">
            <p>Those who don't have the unit circle memorized need not apply - this community is for those who chant SOH-CAH-TOA to themselves every night.</p>
          </div>
        </div>
      </div>
      </div><div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/img1.jpg">
            <span class="card-title">Cival Engineering</span>
          </div>
          <div class="card-button">
            <a href="community.html" class="waves-effect waves-light btn custom white-text">Join</a>
          </div>
          <div class="card-content">
            <p>Cities, bridges, tunnels, oh boy! If Cities: Skylines is your favorite game of all time, this is the place for you!</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/img1.jpg">
            <span class="card-title">Robotics</span>
          </div>
          <div class="card-button">
            <a href="community.html" class="waves-effect waves-light btn custom white-text">Join</a>
          </div>
          <div class="card-content">
            <p>Are you a gracious professional? Do you love to sound of a CIM almost stalling? This is the community for those who are on a robotics team.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/img1.jpg">
            <span class="card-title">Other</span>
          </div>
          <div class="card-button">
            <a href="community.html" class="waves-effect waves-light btn custom white-text">Join</a>
          </div>
          <div class="card-content">
            <p>Don't feel like we've included you quite right? Come here and suggest a new community - we'll see if we like it, and if we do we'll add it for you!</p>
          </div>
        </div>
      </div>
      </div>
      </div>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>
