<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="css/master.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>
    <title>Homepage</title>
</head>
<body>
  <!-- Mobile Warning -->
   <div class="fullscreen hide-on-med-and-up center-align">
     <div class="row">
        <div class="col s12">
          <div class="card-panel red">
            <h4>Sci<span class="thin">Storm</span><i class="fa fa-bolt bolt"></i> was designed for desktop (and tablet). We suggest that you join us on those platforms.</h4><br><h6><a class="white-text" href="indexmobile.html">Continue anyway</a></h6>
          </div>
        </div>
      </div>
    </div>
    <!-- End Mobile Warning -->
    <div class="hide-on-small-only" id="content"><div id="fadefromwhite"></div>
      <!-- Navbar -->
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper primary">
            <a href="index.html" class="brand-logo"><i class="fa fa-bolt bolt title-bolt"></i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Storms</a></li>
              <li><a href="communities.html">Communites</a></li>
              <li><a href="profile.html">Profile</a></li>
              <li class="trimary" id="info"><a class="dropdown-button" href="#" data-activates="infodrop"><i class="fa fa-cog white-text"></i></a></li>
              <li class="secondary" id="signout"><a class= "black-text">Sign Out</a></li>
            </ul>
            <ul id= "infodrop" class="dropdown-content primary-text trimary"><center>
              <li><a href="#!" style= 'color:white;'>TOS</a></li>
              <li class="divider"></li>
              <li><a href="#!" style= 'color:white;'>FAQ</a></li>
              <li class="divider"></li>
              <li><a href="#!" style= 'color:white;'>Contact</a></li>
            </center></ul>
          </div>
        </nav>
      </div>

      <!-- End Navbar -->

      <!-- Communites -->
      <div class="row quadmary" id="your-communities">
        <div class="col s3">
          <div class="cat-card-holder" id="small-cards">
              <div class="card-panel white">
                <span class="black-text">
                  <div class="row" style="margin:0;">
                      <h6 class="feed-post-title">Interested in Biology?</h6>
                      <p class="feed-post-subtitle">Check out Yale's summer courses in Biology!</p>
                      <a class="card-link" href="http://example.com">example.com</a>
                  </div>
                </span>
              </div>
              <div class="card-panel white">
                <span class="black-text">
                  <div class="row" style="margin:0;">
                      <h6 class="feed-post-title">Interested in Chemistry?</h6>
                      <p class="feed-post-subtitle">Check out Khan Academy's extra courses in Chemistry!</p>
                      <a class="card-link" href="http://example.com">example.com</a>
                  </div>
                </span>
              </div>
          </div>

        </div>
      <!-- End Communites -->
      <!-- Feed -->
      <div class="col s9 trimary" id="livefeed">
<<<<<<< HEAD:public/storms.html
        <h4 class="center-align secondary-text" id="feed-title">Motivate yourself to do your homework by blackmailing yourself</h4>
=======
        <h4 class="center-align secondary-text" id="feed-title">Recent Storms</h4>
>>>>>>> f71a382301037c8575968e183f3819a317aeca04:storms.html
        <div id="feed-card-container" class="quadmary">

          <div class="card-panel white">
            <span class="black-text">
              <div class="row" style="margin:0;">
                <div class="col s10">
                  <h5 class="feed-post-title">Motivate yourself to do your homework by blackmailing yourself</h5>
                  <p class="feed-post-subtitle">Win a free Google T-Shirt</p>
                </div>
                <div class="col s2">
                  <h6 class="time">November 5, 2016 1:38am</h6>
                  <h6 class="people"><span class="red-text"><b>81</b></span> responses</h6>
                </div>
              </div>
              <div>
                <span>
                  We are all connected; To each other, biologically. To the earth, chemically. To the rest of the universe atomically.
                  The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.
                  Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.
                  What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.
                </span><br>
                <center><a class="waves-effect waves-light btn">Submit Idea</a></center>
              </div>
            </span>
          </div>
        </div>
        </div>
        <!-- Fab menu -->
          <!-- <div class="fixed-action-btn click-to-toggle" id="newpostfabmenu">
            <a class="btn-floating btn-large secondary">
              <i class="fa fa-plus black-text" id="newpostfab" aria-hidden="true"></i>
            </a>
            <ul>
              <li><a class="btn-floating trimary tooltipped" data-position="left" data-delay="10" data-tooltip="Create new community"><i class="fa fa-users black-text" aria-hidden="true"></i></a></li>
              <li><a class="btn-floating trimary tooltipped" data-position="left" data-delay="10" data-tooltip="Create new post"><i class="fa fa-tasks black-text" aria-hidden="true"></i></i></a></li>
            </ul>
          </div> -->
          <!-- End Fab -->
        </div>
      </div>
<<<<<<< HEAD:public/storms.html
      <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/js/storms.js"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>
=======
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/storms.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
>>>>>>> f71a382301037c8575968e183f3819a317aeca04:storms.html
</body>

</html>
